@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-image: url("images/space.jpg");
  background-position: 0 -150px;
  background-size: cover;
  height: 100%;
  color: white;
  font-family: 'Courier Prime', monospace;
  /* font-weight: 300; */
}

h1 {
  font-size: 1.3rem;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0));
}

.border {
  width: 95vw;
  height: 92vh;
  border: 15px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  /* background-color: rgba(255, 255, 255, 0.1); */
  min-width: 300px;
  padding: 20px;
  min-height: 50vh;
}

.content-container p {
  margin: 0;
}

.title-container,
.content-container {
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  /* transform: translate(-50%, -50%); */
}

.title-container {
  top: 20%;
  left: 15%;
  font-family: "Bodoni Moda", serif;
  text-shadow: 0 0 20px cyan;
}

.content-container {
  top: 25%;
  left: 27%;
  color: rgba(255, 255, 255, 0.4);
}

.content-container ul {
  line-height: 150%;
  list-style-type: none;
  padding: 0;
}

/* .vl {
  border-left: 1px solid white;
  height: 250px;
  position: fixed;
  top: 30%;
  left: 23%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
} */
/* 
.margin {
  margin: 0 10px;
} */
