@font-face {
  src: url(fonts/Eclairages.ttf);
  font-family: Eclairages;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-image: url("images/space.jpg");
  background-position: 0 -150px;
  background-size: cover;
  height: 100%;
  color: white;
  font-family: "Courier Prime", monospace;
}

h1 {
  font-size: 1.3rem;
}

.img-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 5%;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.border {
  width: 95vw;
  height: 92vh;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-content-container {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 800px;
  min-height: 500px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-width: 750px;
  min-height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.title-container {
  text-align: center;
  font-family: Eclairages;
  text-shadow: 0 0 20px cyan;
  cursor: pointer;
}

ul {
  line-height: 200%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown h1 {
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: "Courier Prime", monospace;
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content a {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  top: 30px;
}

.photo-of-the-day {
  max-width: 700px;
  max-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  font-size: 3rem;
  cursor: pointer;
}

.fa:hover {
  color: white;
}